* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

body {
  & ::-webkit-scrollbar {
    width: 10px;
  }
  & ::-webkit-scrollbar-thumb {
    background: beige;
    border-radius: 10px;
  }
  & ::-webkit-scrollbar-track {
    background: transparent;
  }
}

a {
  color: black;
  &:link {
    text-decoration: none;
  };
  &:visited,
  &:active {
    color: ${colorB};
  };
}